* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  background-color: #fff; }

.logo {
  font-family: 'Great Vibes', cursive;
  color: #B28488;
  font-size: 32px;
  line-height: 55px;
  text-align: center;
  width: 200px;
  padding: 10px 10px;
  margin: 20px auto; }

.logo a {
 	text-decoration: none;
 	color: #7279A3;
  font-size: 30px; }

.logo a:hover {
  text-decoration: none; }
/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                   NAV
-----------------------------------------------------------------------------------------------------------------------------------------*/
.nav {
  z-index: 2000; }

.nav-main {
  width: 100%;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  z-index: 1000; }

.nav-main ul {
  width: 100%; }

.nav-item:hover {
  background-color: #D7DBE3; }
/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                   HEADER
-----------------------------------------------------------------------------------------------------------------------------------------*/
.header-container h1 {
  text-align: center;
  position: relative;
  top: 120px;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 4px; }

.main-header {
  padding-bottom: 30px; }
/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                 SECTION#1
-----------------------------------------------------------------------------------------------------------------------------------------*/
.header-section2 {
  margin: 60px 0px 20px 0px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #134594; }

.paragraph-room {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'PT Sans', sans-serif; }

.img-wroclaw {
  width: 100%;
  height: auto;
  margin-top: 60px; }

.info {
  width: 50%;
  height: auto;
  padding-right: 20px;
  font-family: 'PT Sans', sans-serif; }

.info h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-top: 10px; }

.small-header-section1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #134594; }

.big-header-section1 {
  padding: 10px;
  text-align: center; }
/*--------------------------------------------------------------------------------------------------------------------------------------------------
                                                                 SECTION#2
---------------------------------------------------------------------------------------------------------------------------------------------------*/
.header-room {
  padding: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'PT Sans', sans-serif; }

.room {
  margin-top: 100px; }

.paragraph-cost-section1 {
  text-align: center;
  text-transform: uppercase; }

.paragraph-cost-section1 span {
  font-weight: 600; }

.img-section1 {
  border-radius: 4px;
  width: 100%;
  height: auto;
  opacity: 0.8; }

.img-section1:hover{
  opacity: 1; }

.icons {
  width: 300px;
  margin: 2px auto; }

.icons .icon-full {
  width: 100px;
  height: 100px;
  float: left;
  margin: auto;
  padding-left: 20px; }

.icons .icon-full .icon {
  width: 60px;
  height: 60px; 
  padding: 10px; }

.icons .icon-full .icon-paragraph {
  font-size: 14px;
  text-align: center;
  margin-right: 20px; }
/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                   SOCIALS
-----------------------------------------------------------------------------------------------------------------------------------------*/
.socials {
  margin: 40px 0px;
  text-align: center;
  clear: both; }

.icon-facebook:hover {
  opacity: .6; }

.icon-instagram:hover {
  opacity: .6; }

.icon-pinterest:hover {
  opacity: .6; }

.icon-behance:hover {
  opacity: .6; }
/*----------------------------------------------------------------------------------------------------------------------------------------------
                                                                    FOOTER
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.footer-container {
  letter-spacing: 1px;
  color: #343956;
  font-family: 'PT Sans', sans-serif; }

.footer-container .footer-col {
  padding: 6px;
  text-align: center; }

.footer-container .footer-col h4 {
  font-weight: 600;
  font-size: 16px; }

.footer-container .footer-col p {
  font-size: 12px; }

.text-center {
  font-size: 10px; }
/*---------------------------------------------------------------------------------------------------------------------------------------
                                                                 MEDIA QUERY
                                                                 400-600px
-----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 400px) and (max-width: 600px) {
  /*-------------------------------------------------------------------------------------------------------------------------------------
                                                                  Header
-----------------------------------------------------------------------------------------------------------------------------------------*/
.imgban .main-header {
  position: absolute;
  top: 280px;
  left: 100px; }
/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                 PARALLAXA2
-----------------------------------------------------------------------------------------------------------------------------------------*/
.parallaxa2 h2 {
  padding-left: 60px; }

/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                 SECTION#1
-----------------------------------------------------------------------------------------------------------------------------------------*/
.icons {
  margin: 10px 36px; }
}
/*-----------------------------------------------------------------------------------------------------------------------------------------
                                                              738px - 999px
------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 738px) and (max-width: 999px) {
.logo {
  float: left;
  margin-left: 10px; }
/*-------------------------------------------------------------------------------------------------------------------------------------------
                                                                  NAV
-------------------------------------------------------------------------------------------------------------------------------------------*/		
.nav-main-first {
   margin: 4px 0px 60px 20px; }

 .nav-main {
  padding-top: 10px;
  margin: 10px;
  color: transparent; }

.nav-main ul li {
  width: 140px;
  color: transparent !important; }
/*-------------------------------------------------------------------------------------------------------------------------------------------
                                                                  HEADER
-------------------------------------------------------------------------------------------------------------------------------------------*/ 
.header-container h1 {
  padding-top: 76px; }

/*-------------------------------------------------------------------------------------------------------------------------------------------
                                                                  SECTION#1
-------------------------------------------------------------------------------------------------------------------------------------------*/ 
.container .col-section1 {
  text-align: center; }

.img-wroclaw {
  width: 158%; }

.info {
  width: 75%; 
  background-color: #fff; 
  padding-top: 60px; }

.info h3 {
  font-size: 20px;
  font-weight: 600; }

.small-header-section1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #134594; }

.big-header-section1 {
  padding: 20px; }
 
.header-room {
  padding: 0;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 600; }

.room {
  margin-top: 100px; }

.img-section1 {
  border-radius: 4px;
  width: 100%;
  height: auto;
  opacity: 0.8; }

.icons {
  width: 300px;
  margin: 2px auto; }

.icons .icon-full {
  width: 50px;
  height: 100px;
  margin: auto;
  padding: 2px 10px; }

.icons .icon-full .icon {
  width: 40px;
  height: 40px; 
  padding: 5px;
  float: left; }

.icons .icon-full .icon-paragraph {
    display: none; }
/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                 SOCIALS
-----------------------------------------------------------------------------------------------------------------------------------------*/
.socials {
  background-color: transparent; }
}
/*-------------------------------------------------------------------------------------------------------------------------------------------
                                                         1000-1199 PX
-------------------------------------------------------------------------------------------------------------------------------------------*/ 
@media screen and (min-width: 1000px) and (max-width: 1199px) {
.logo {
  float: left; }
/*-------------------------------------------------------------------------------------------------------------------------------------------
                                                                  NAV
-------------------------------------------------------------------------------------------------------------------------------------------*/ 
.nav-main {
  width: 120%;
  padding-top: 10px; }

.nav-main ul {
  width: 100%; }

.nav-main ul li {
  padding: 10px;
  margin: 10px; }

.nav-item:hover {
  background-color: #D7DBE3; }
/*---------------------------------------------------------------------------------------------------------------------------------------------
                                                                HEADER
----------------------------------------------------------------------------------------------------------------------------------------------*/ 
.imgban .main-header {
  position: absolute;
  top: 300px;
  left: 600px;
  font-size: 60px; }

.header-container h1 {
  margin-top: 70px;   
  top: 175px; }
 /*-------------------------------------------------------------------------------------------------------------------------------------------
                                                               SECTION#1
--------------------------------------------------------------------------------------------------------------------------------------------*/
.header-section2 {
  margin-bottom: 60px; }

.img-wroclaw {
  width: 150%;
  height: auto; }

.info {
  background-color: #fff;
  width: 100px;
  height: 290px; 
  margin-top: 120px; }
 /*-------------------------------------------------------------------------------------------------------------------------------------------
                                                               SECTION#2
--------------------------------------------------------------------------------------------------------------------------------------------*/
.icons {
  width: 70%;
  margin: 10px auto; }

.img-section1 {
  width: 100%; }

.about-room {
  font-size: 15px;
  padding-top: 0; }

.header-room {
  margin-bottom: 2px;
  padding-top: 2px; }
/*----------------------------------------------------------------------------------------------------------------------------------------
                                                                          FOOTER
-----------------------------------------------------------------------------------------------------------------------------------------*/
.footer-col .logo a {
  font-size: 30px; }
}

/*-----------------------------------------------------------------------------------------------------------------------------------------
                                                                          1200px <
------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
/*-------------------------------------------------------------------------------------------------------------------------------------------
                                                                          NAV
-------------------------------------------------------------------------------------------------------------------------------------------*/
.logo {
  float: left; }

.nav-main {
  width: 120%;
  padding-top: 10px; }

.nav-main ul {
  width: 100%; }

.nav-main ul li {
  padding: 10px;
  margin: 10px; }

.nav-item:hover {
  background-color: #D7DBE3; }
/*-------------------------------------------------------------------------------------------------------------------------------------------
                                                                  HEADER
-------------------------------------------------------------------------------------------------------------------------------------------*/ 
.header-container h1 {
  position: relative;
  top: 180px; }

.logo {
  float: left; }
/*-------------------------------------------------------------------------------------------------------------------------------------------
                                                                  SECTION#1
-------------------------------------------------------------------------------------------------------------------------------------------*/ 
.img-wroclaw {
  width: 204%;
  height: 520px;
  margin-top: 100px; }

.info {
  background-color: #fff;
  height: 260px;
  margin-top: 230px;
  padding: 6px;
  font-size: 15px; }

.img-section1 {
  width: 100%; }

.icons .icon-full .icon {
   margin-left: 10px; } 

.about-room {
  font-size: 15px;
  padding-top: 0; }

.header-room {
  margin-bottom: 2px;
  padding-top: 2px; }

.room {
  margin-top: 100px; }

.icons .icon-full .icon-paragraph {
  margin-right: 0; }
/*-------------------------------------------------------------------------------------------------------------------------------------------
                                                                  FOOTER
-------------------------------------------------------------------------------------------------------------------------------------------*/ 
.footer-col .logo a {
  font-size: 30px; }
}